<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User View</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<h1 th:text="#{authorized_user.title}"></h1>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" th:text="#{user_view.theme}"></th>
        <th scope="col" th:text="#{user_view.start_date}"></th>
        <th scope="col" th:text="#{user_view.end_date}"></th>
        <th scope="col" th:text="#{user_view.opening_time}"></th>
        <th scope="col" th:text="#{user_view.closing_time}"></th>
        <th scope="col" th:text="#{user_view.halls}"></th>
        <th scope="col" th:text="#{user_view.ticket_price}"></th>
        <th scope="col" th:text="#{authorized_user.buy_tickets}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exhibition: ${exhibitions}">
        <td th:text="${exhibition.theme}"></td>
        <td th:text="${#temporals.format(exhibition.startDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#temporals.format(exhibition.endDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#temporals.format(exhibition.openingTime, 'HH:mm a')}"></td>
        <td th:text="${#temporals.format(exhibition.closingTime, 'HH:mm a')}"></td>
        <td>
            <div th:each="hall: ${exhibition.halls}">
                <p th:text="${hall.hallName}"></p>
            </div>
        </td>
        <td th:text="'$' + ${#numbers.formatDecimal(exhibition.ticketPrice, 0, 'COMMA', 2, 'POINT')}"></td>
        <td>
            <input type="text" size="4">
            <button type="button" class="btn btn-success" th:text="#{authorized_user.buy}"></button>
        </td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>